<!-- section -->
<section id="gallery" class="gla_section gla_image_bck" data-color="#fff">
    <div class="container text-center">
        <p><img src="static/images/animations/flower7.gif" data-bottom-top="@src:static/images/animations/flower7.gif; opacity:1" class="gla_animated_flower" height="110" alt=""></p>
        <h2>Our Wedding Gallery</h2>
        <!-- filters -->
        <div class="text-center">
            <b>Thư viện ảnh sẽ được cập nhật trong vài ngày tới.</b>
        </div>
        <!-- filters end -->
    </div>
    <!-- container end -->
</section>
<!-- section end -->