 <!-- section -->
 <section id="savethedate" class="gla_section gla_image_bck gla_fixed gla_wht_txt" data-stellar-background-ratio="0.8" data-image="static/images/wedding/15484313306_1843f103b0_k.jpg">
    <!-- Over -->
    <div class="gla_over" data-color="#1e1d2d" data-opacity="0.4"></div>
    <div class="container text-center">
        <p><img src="static/images/animations/savethedate_wh.gif" data-bottom-top="@src:static/images/animations/savethedate_wh.gif" height="150" alt=""></p>
        <h2>Ngày 07 tháng 11 năm 2020</h2>
        <h3 class="gla_subtitle">Lạng Giang & Việt Yên, <br>Bắc Giang.</h3>
        <div class="gla_countdown" data-year="2020" data-month="11" data-day="07"></div>
    </div>
    <!-- container end -->
</section>
<!-- section end -->