<!-- section -->
<section id="weddingdetails" class="gla_section">
    <div class="container text-center">
        <p><img src="static/images/animations/flower6.gif" data-bottom-top="@src:static/images/animations/flower6.gif; opacity:1" class="gla_animated_flower" height="110" alt=""></p>
        <h2>Wedding Details</h2>
        <h3 class="gla_subtitle">Tiệc cưới được tổ chức tại tư gia 2 gia đình chúng tôi.</h3>
        <div class="row text-center">
            <div class="col-md-6 gla_round_block">
                <h3>Nhà trai</h3>
                <p>
                    <b>
                        15 giờ ngày 07 tháng 11 năm 2020<br>
                        Tổ dân phố số 3, thị trấn Kép, huyện Lạng Giang,<br>
                        Bắc Giang.<br>
                        (Gần ngã tư Kép)<br>
                        <a href="tel:+84916161707">+84 916-161-707</a>
                    </b>
                </p>
                <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d928.6369963321824!2d106.27931827917158!3d21.40769559769!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313569c0ebe84b73%3A0x83ff08bb50ad0486!2zVGnhu4dtIFPhu61hIFhlIEzDom4gSOG7jWM!5e0!3m2!1svi!2s!4v1601404788303!5m2!1svi!2s" title="Xem bản đồ đường đến nhà trai" class="btn popup-gmaps">Xem bản đồ</a>
            </div>
            <div class="col-md-6 gla_round_block">
                <h3>Nhà gái</h3>
                <p>
                    <b>
                        11 giờ ngày 08 tháng 11 năm 2020<br>
                        Xã Nghĩa Trung, huyện Việt Yên,<br>
                        Bắc Giang.<br>
                        (Gần UBND Xã Nghĩa Trung)<br>
                        <a href="tel:+84916161707">+84 916-161-707</a>
                    </b>
                </p>
                <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3716.84793251958!2d106.13592416441216!3d21.317024283251857!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4322fecb3da8c92b!2z4bumeSBCYW4gTmjDom4gRMOibiBYw6MgTmdoxKlhIFRydW5n!5e0!3m2!1svi!2s!4v1601404460553!5m2!1svi!2s" title="Xem bản đồ đường đến nhà gái" class="btn popup-gmaps">Xem bản đồ</a>
            </div>
        </div>
    </div>
    <!-- container end -->
</section>
<!-- section end -->